---
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@/utils/slugify";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"blog">;

const { variant: Heading = "h2", id, data, filePath } = Astro.props;

const { title, description, ogImage, ...props } = data;

const coverUrl = ogImage
  ? typeof ogImage === "string"
    ? ogImage
    : ogImage.src
  : undefined;
---

<li class="my-6">
  {
    coverUrl && (
      <a href={getPath(id, filePath)} class="block mb-3" tabindex="-1" aria-hidden="true">
        <img
          src={coverUrl}
          alt={title}
          class="w-full rounded-lg object-cover h-52"
        />
      </a>
    )
  }
  <a
    href={getPath(id, filePath)}
    class:list={[
      "inline-block text-lg font-medium text-accent",
      "decoration-dashed underline-offset-4 hover:underline",
      "focus-visible:no-underline focus-visible:underline-offset-0",
    ]}
  >
    <Heading
      style={{ viewTransitionName: slugifyStr(title.replaceAll(".", "-")) }}
    >
      {title}
    </Heading>
  </a>
  <Datetime {...props} />
  <p>{description}</p>
</li>
